# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# Environment files
.env

# But allow our custom environment files for different deployments
!.env.local
!.env.dev
!.env.stage
!.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
.tsbuildinfo
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# Documentation (optional - uncomment if you don't want to push these)
# *.pptx
# *.pdf
# SCREENSHOT_GUIDE.md
